@model OffTheLipProject.Models.ModelOTL.Surfer

@{
    ViewBag.Title = "CreateSurfer";
}
<link href="~/Content/Estilos.css" rel="stylesheet" type="text/css" />

<h2>Surfer</h2>
<hr />

<div style="margin-bottom:10%;">
    @using (Html.BeginForm("SetSurfer", "Surfer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4> Create a surfer:</h4>
        <br />

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(a => a.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(b => b.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.Image, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(b => b.Image, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.Natinality, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(b => b.Natinality, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.Stance, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(b => b.Stance, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(a => a.Competitor, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(b => b.Competitor, false)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Send" />
            </div>
        </div>
    }
</div>