@model OffTheLipProject.Models.ModelOTL.NewsSurferViewModel

@{
    ViewBag.Title = "CreateNew";
}
<link href="~/Content/Estilos.css" rel="stylesheet" type="text/css" />

<h2>News</h2>
<hr />

@using (Html.BeginForm("SetNew", "News", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4> Create a new:</h4>
    <br />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(a => a.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(b => b.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(b => b.Description, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Location, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(b => b.Location, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.SurferName, "Surfer name",new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(b => b.SurferName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Image, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(b => b.Image, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Send" />
        </div>
    </div>
}