@using OffTheLipProject.Models;
@{
    ViewBag.Title = "Hardware";
    int currentPage = Convert.ToInt32(Request.QueryString.Get("page") ?? "0");
}

<link href="~/Content/Estilos.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Content/Main.js"></script>

<div id="headerH">
    @*<h2>@ViewBag.Title</h2>*@
</div>
<br />

@using (Html.BeginForm("Index", "Hardware"))
{
    <div class="search">
        @Html.TextBox("searchString", "", new { @class = "textboxSearch", @placeholder = "Find by name" })
        <input type="submit" id="submitSearch" value="Search" class="btn btn-default" />
    </div>
}

<section class="contenedor">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="flex-item">
                <a href="@Url.Action("DisplayHardware", "Hardware", new { DocId = @item.Id })">
                    <p>@item.Name</p>
                    <img src="@item.Image" height="250" width="400" />
                </a>
            </div>
        }
    }

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
        </script>
    }
</section>

@if (TempData["searchString"] == null || TempData["searchString"].ToString() == "")
{
<div id="pagination">
    @if (currentPage > 0)
    {
        @*<button name="page" value="-1" class="btn btn-default"><a href="@Url.Action("Index", "Hardware", new { page = currentPage - 1 })">Prev</a></button>*@
        <input type="button" value="Prev" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "Hardware", new { page = currentPage - 1 }) + "'");" />
    }

    @{
        var displaypage = currentPage + 1;
        ApplicationDbContext db = new ApplicationDbContext();
        var numHardware = db.Hardwares.Count();
        int n = numHardware - ((currentPage + 1) * 6);
    }

    <text>Page @displaypage</text>

    @if (n > 0)
    {
        @*<button name="page" value="1" class="btn btn-default"><a href="@Url.Action("Index", "Hardware", new { page = currentPage + 1 })">Next</a></button>*@
        <input type="button" value="Next" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "Hardware", new { page = currentPage + 1 }) + "'");" />
    }
</div>
}

<br />
<br />